@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.main {
  width: 90%;
  height: 100%;
  padding-top: 110px;
  background-color: colors.$BACKGROUND_COLOR;

  h2 {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    color: colors.$WHITE;
    letter-spacing: 1px;
  }

  .sliderBox {
    position: relative;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left {
      width: 70%;
    }

    .right {
      width: 25%;

      h2 {
        padding-bottom: 15px;
        margin-bottom: 30px;
        font-size: 16px;
        border-bottom: 1px solid #405266;
      }
    }
  }

  .genres {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 0;
      margin-bottom: 0;

      button {
        margin-right: 20px;
        font-size: 16px;
        font-weight: normal;
        color: colors.$TEXT_COLOR;
        text-transform: uppercase;

        &:hover,
        &:active {
          color: colors.$POINT_COLOR_YELLOW;
        }
      }
    }

    img {
      margin: 0 5px;
    }
  }
}
