@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

header {
  width: 100%;
  height: 80px;

  form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 5px;
    background-color: colors.$SEARCHBAR_BACKGROUND_COLOR;

    .searchBar {
      width: 100%;
      padding: 10px;
      font-size: 14px;

      &::placeholder {
        font-weight: 500;
        color: colors.$TEXT_COLOR;
        letter-spacing: 1px;
      }
    }

    .searchButton {
      display: flex;
      width: 40px;
      height: 40px;

      .searchIcon {
        position: absolute;
        right: 10px;
        fill: colors.$TEXT_COLOR;
      }
    }
  }
}
