// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY1: #808080;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY4: #505050;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #d0d0d0;
$GRAYE: #fbfbfb;

$BEIGE1: #f3eceb;
$DARK_BEIGE1: #73706f;
$DARK_BEIGE2: #a8955d;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$NAV_BACKGROUND_COLOR: #0e2133;
$SEARCHBAR_BACKGROUND_COLOR: #233a50;
$BACKGROUND_COLOR: #020d18;
$BORDER_COLOR: #020d18;
$TEXT_COLOR: #abb7c4;
$POINT_COLOR_RED: #de003f;
$POINT_COLOR_YELLOW: #dcf837;
$TASK_ITEM_TITLE: #4f566f;
