@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: colors.$BACKGROUND_COLOR;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
